<h2>Component SHOW is good</h2>
<div class="d-grip gap-2 mt-12">
    <a routerLink="/create" class="btn btn-primary btn-lg btn-block" type="button">Create</a>
</div>
<div>
    <h2>Candidatos a artistas</h2>
</div>
<table class="table table-hover table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>E-mail</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of Post">
            <td>{{post.name}}</td>
            <td>{{post.birthdate}}</td>
            <td>{{post.mail}}</td>
            <td>{{post.password}}</td>
            <td>
                <button routerLink="/edit/{{post.id}}" class="btn btn-outline-secondary"><i class="fa-solid fa-pen"></i></button>
                <button (click)="deleteRow(post)" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                <button (click)="convertToArtist(post)" class="btn btn-outline-danger"><i class="fa-solid fa-check"></i></button>
            </td>

        </tr>
    </tbody>
</table>
<audio src="https://firebasestorage.googleapis.com/v0/b/borrador-a0724.appspot.com/o/songs%2FX2Download.com%20-%20Alan%20Walker%20-%20The%20Spectre%20(320%20kbps).mp3?alt=media&token=248f0869-f4b4-4401-b6c3-404ed6cb191f" controls>hello</audio>
